POSTGRES_DSN=postgresql://postgres:jojo123@localhost:5432/postgres
API_FOOTBALL_KEY=dfe30b2ed8d08960348582f2495c9e31
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id
LEAGUE_ID=39
SEASON=2025
